<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tags</key>
		<string>资深码农,行为艺术家,手工艺人</string>
		<key>content</key>
		<string>人生总有一些路，需要自己走，总有一些事，需要自己做。无论坎坷，还是平坦！</string>
		<key>images</key>
		<array>
			<string>1-12</string>
		</array>
		<key>name</key>
		<string>宫野志保</string>
		<key>icon</key>
		<string>h1</string>
		<key>dynamicTag</key>
		<string>人力VOCALOID,武林外传,回忆向,沙溢,白展堂,许嵩,玫瑰花的葬礼,白玉汤</string>
	</dict>
	<dict>
		<key>content</key>
		<string>有一次曾和邓安庆说过，“每你的文字多了，觉得你有一种想要‘描绘生活如其所是’的想法”，不因其平凡而有所掩饰或增饰。他说，是的，我就是这样想的。</string>
		<key>tags</key>
		<string>泥瓦匠,自由职业者,木匠</string>
		<key>images</key>
		<array>
			<string>1-10</string>
			<string>1-11</string>
			<string>1-13</string>
			<string>1-14</string>
		</array>
		<key>name</key>
		<string>无价宝恩恩</string>
		<key>icon</key>
		<string>h2</string>
		<key>outlink</key>
		<string>http://www.bilibili.com/video/av11297195/  

</string>
		<key>outlinkTitle</key>
		<string>【白展堂】白玉汤的葬礼</string>
		<key>face</key>
		<string>fm</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>h3</string>
		<key>name</key>
		<string>莞尔mona</string>
		<key>outlink</key>
		<string>http://www.bilibili.com/video/av11297195/  

</string>
		<key>content</key>
		<string>无论在工作时还是在家中，你一定会感受到自己的心情变舒畅了、能力提高了。你也会更了解，什么时候该稍微放松下，休息片刻、小憩几分钟。“哦，可是我没有时间休息。” 你说。你再考虑一下。我有许多让你找到时间休息的小诀窍和好办法，让你能在更少的时间内完成更多的事情。</string>
		<key>outlinkTitle</key>
		<string>【中毒循环】猫源恋歌</string>
		<key>face</key>
		<string>fm3</string>
		<key>tags</key>
		<string>木匠</string>
		<key>video</key>
		<string>video2</string>
		<key>images</key>
		<array/>
	</dict>
	<dict>
		<key>icon</key>
		<string>h4</string>
		<key>name</key>
		<string>熊阿姨</string>
		<key>content</key>
		<string>你会在书中看到，如何应付好现代社会给睡眠带来的各种挑战——比如，手机、电脑、飞行时差和工作到深夜。</string>
		<key>tags</key>
		<string>达人</string>
		<key>images</key>
		<array/>
	</dict>
	<dict>
		<key>icon</key>
		<string>h5</string>
		<key>name</key>
		<string>柑阿</string>
		<key>tags</key>
		<string>鉴黄师</string>
		<key>content</key>
		<string>你还能发现，只不过多掌握了那么一点卧室中的小诀窍，你的爱情生活就能获得多么显著的改善。还有，为什么我们不该忽视午睡的神奇力量——以及如何在一间人满为患的屋子里，睁着眼睛午睡。</string>
		<key>images</key>
		<array/>
		<key>video</key>
		<string>video</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>h6</string>
		<key>name</key>
		<string>尬舞老公主</string>
		<key>tags</key>
		<string>歌手</string>
		<key>content</key>
		<string>我会告诉你一个非常简单的选择床垫的好办法，从此你再也无需忍受销售人员喋喋不休地向你推销有“数千支弹簧”、价格不菲的床垫。</string>
		<key>images</key>
		<array/>
	</dict>
	<dict>
		<key>content</key>
		<string>R90 睡眠修复方案和“边际增益”理念是一脉相承的，哪怕只有1%的改进，也能积少成多，让你的睡眠效率大幅提升。根据R90 方案，夜间从睁开眼睛到闭上眼睛的过程中，我们所做的每一件事，都将影响我们的睡眠质量。</string>
		<key>icon</key>
		<string>h7</string>
		<key>tags</key>
		<string>漫画家</string>
		<key>name</key>
		<string>史悲</string>
		<key>images</key>
		<array>
			<string>1-1</string>
			<string>1-2</string>
			<string>1-3</string>
			<string>1-4</string>
			<string>1-5</string>
			<string>1-6</string>
			<string>1-7</string>
			<string>1-8</string>
			<string>1-9</string>
		</array>
	</dict>
	<dict>
		<key>content</key>
		<string>当我们准备静下心来、上床睡觉时，如果我们采纳“睡眠修复关键指标”中提出的那些建议，就能积累我们的边际增益。</string>
		<key>tags</key>
		<string>作家</string>
		<key>name</key>
		<string>Pitta</string>
		<key>icon</key>
		<string>h8</string>
		<key>images</key>
		<array/>
	</dict>
	<dict>
		<key>content</key>
		<string>让我们从现在开始，更明智地利用好你的睡眠时间，实现最大限度的身心修复。</string>
		<key>tags</key>
		<string>警察</string>
		<key>name</key>
		<string>孖抹鹿鹿</string>
		<key>outlink</key>
		<string>http://www.bilibili.com/video/av11297195/  

</string>
		<key>face</key>
		<string>fm2</string>
		<key>outlinkTitle</key>
		<string>【韩红已疯】波澜哥热唱樱桃小丸子</string>
		<key>icon</key>
		<string>h9</string>
		<key>images</key>
		<array/>
	</dict>
	<dict>
		<key>content</key>
		<string>我会向你展示，如何才能发挥你自己的最佳水平。把这一方法融入你的生活中，你就能获得额外的能量，无论是在生理上还是心理上。你将了解，睡眠可以是多阶段的。你将不再苦苦计算你一个晚上总共睡了几个小时，而是每个星期你总共获得了多少睡眠周期。这样你就能坦然接受那些没有睡好的夜晚，并且学会放松一点。</string>
		<key>name</key>
		<string>Davies</string>
		<key>icon</key>
		<string>h10</string>
		<key>images</key>
		<array/>
	</dict>
</array>
</plist>
